* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3rem;
  font-family: sans-serif;
  background-color: #e1defc;
}

.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  gap:2rem;
}

input {
  padding: 1rem 2rem;
  border: 2px solid #4a4483;
  outline: none;
  font-size: 1.5rem;
  width: 30rem;
}

.form-control > button {
  border-radius: 2rem;
  border:none;
  margin-left: 5px;
  background: #4a4483;
  color: white;
  font-size: 1.3rem;
  width: 7rem;
  height:5rem;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 40rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 5px #ccc;
  border:2px solid grey;
}

.shopping-item-name,
.fas.fa-trash {
  cursor: pointer;
}


.done {
  text-decoration: line-through;
}

.dropdown {
  margin-bottom: 2rem;
  padding: 1rem;
  color: #4a4483;
  font-family: sans-serif;
  font-size: 1.5rem;
  border-width: 2px;
  border-color: #4a4483;
}

.dropdown:hover {
  border-color: #4a4483;
}

.buttonZone {
  margin-bottom: 2rem;
  word-spacing: 1.8rem;
}

.butoane {
  width: 8rem;
  padding: 2px;
  background-color: #b5b0e2;
}

.butoane:hover {
  background-color: #4a4483;
  color: white;
}

.navbar{
  display:flex;
  justify-content: flex-end;
  padding:2rem;
  background-color: #4a4483;
  color:white
}

.inputZone{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detalii{
  padding:5px;
  background-color: #4a4483;
  border-radius: 10px;
  font-size: 1.5rem;
  width:10rem;
  color:white;
}

.detalii:hover{
  cursor: pointer;
}


/*Claudia*/  

.modal{
  display: none;
  position:absolute;
  top: 35%;
  left:35%;
  background-color: #aca6e8;
  width:50rem;
  min-height: 20rem;
  padding:2rem;
  border:2px solid rgb(51, 17, 51);
  border-radius: 10px;
  z-index: 2;
}

.modal-header{
display:flex;
justify-content: flex-end;
}

.content-grey{
display:none;
background-color: rgba(0, 0, 0, 0.50);
position: absolute;
z-index: 1;
width:100%;
height: 100vh;
}

.exit{
  background-color: transparent;
  border:none;
  font-size: 3rem;
}

.exit:hover{
  cursor: pointer;
}

.dark-mode{
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all 0.3s ease; 
}

.fa-sun, .fa-moon{
cursor: pointer;
}

.off-moon{
display: none;
}

.off-sun{
display: none;
}
